:root {
    --white: white;
    --dark-gray: rgb(85, 83, 83);
    --light-gray: rgb(201, 198, 198);
    --main-font-color: var(--dark-gray);
    --secondary-font-color: var(--white);

    --main-bg-color: var(--light-gray);
    --secondary-bg-color: var(--white);
    --tertiary-bg-color: var(--dark-gray);
    --header-footer-pad: 1rem 1.5rem;
    --other-bg-color: rgb(104, 180, 243);
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/static/Recursive/Recursive-Medium.ttf') format('truetype');
}
html {
    font-family: 'Recursive', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
    text-decoration: none;
    word-wrap: break-word;
}

header, footer {
    height: 4rem;
    padding: var(--header-footer-pad);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a:hover {
    transform:scaleY(1.4);
}

header {
    position: fixed;
    top: 0;
    background-color: var(--secondary-bg-color);
    z-index: 5;
}

body {
    margin-top: 4rem;
}

footer {
    font-size: 0.8rem;
}

nav a, footer a {
    padding-left: 1rem;
}

section:nth-child(even) {
    background-color: var(--main-bg-color);
}

.logo-text-light {
    color: var(--light-gray);
}

.mobile {
    display: none;
}

.section-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    padding-left: 1.5rem;
    grid-column-gap: 1.5rem;
}

.primary-container {
    padding: 2rem 0;
    display: grid;
}

.secondary-container {
    padding-top: 1rem;
}

.secondary-item {
    padding: 1rem 0 1rem 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3.5fr 6.5fr;
}

.secondary-item:hover {
    background-color: var(--main-bg-color);
    color: var(--secondary-font-color);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.section-container-flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(300px, 30%));
    padding: 2rem 4.5rem;
    grid-gap: 2rem;
    justify-content: center;
}

.course-container {
    background-color: var(--secondary-bg-color);
    grid-column-end: span 1;
    display: grid;
    align-content:flex-start;
    min-height:max-content;
    overflow: hidden;
    
}

.course-container .media:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
    filter: grayscale(0.8) blur(4px);
}

.course-container-text {
    padding: 1.5rem 1rem 1.5rem 1rem;
    display: grid;
    grid-gap: 0.5rem;
}

.section-header {
    grid-column: 1 / -1;
    text-align: center;
}

.text-container {
    display: grid;
    align-content: center;
    grid-gap: 0.5rem;
}

.media {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#logo-container, nav {
    display: flex;
    align-items: center;
}

#banner .secondary-container {
    display: grid;
    align-content: center;
    grid-row-gap: 2rem;
}

#start-here-button {
    cursor: pointer;
    width: 80%;
    padding: 0.5rem 0;
    border: 0;
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-font-color);
    
}

#start-here-button:hover {
    background-color: var(--other-bg-color);
    color: var(--main-font-color);
    
}

#information .primary-container {
    grid-gap: 1.5rem;
}

#thesis .primary-container {
    grid-gap: 0.5rem;
}

#thesis {
    padding-top: 2rem;
}

@media  screen and (min-width: 480px) and (max-width: 720px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) and (orientation: portrait) {

    header {
        display: grid;
        grid-template-columns: 32px 1fr;
        grid-column-gap: 2rem;
    }

    header nav.mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }

    header nav.mobile a{
        padding: 0 auto;
    }

    .course-container-text p {
        display:none;
    }

    .section-container, .primary-container, .secondary-container, .secondary-item{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        grid-row-gap: 0;
    }

    .section-container-flex {
        padding: 2rem 1rem;
        grid-row-gap: 0.5rem;
    }

    .section-header {
        padding-bottom: 0.5rem;
    }

    .text-container{
        padding: 1rem 1rem;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    #banner .secondary-container {
        padding: 2rem 1rem;
        justify-items: center;
    }

    #information .secondary-container {
        padding: 1rem 1rem 2rem 1rem;
        grid-row-gap: 4rem;
    }

    #thesis .primary-container {
        padding: 0.5rem 0 1.5rem 0;
    }

}